{% set term = term %}
{% set abbrev = item[0] %}
{% set definitions = item[1] %}
{% set currentLang = grav.language.getActive ?: 'en' %}
{% set definition = definitions|filter(def => def.lang == currentLang)|first.definition ?: definitions|first.definition %}

<details>
  <summary>
    {{ term }}
    {% if abbrev %}
      <span class="acronym">({{ abbrev }})</span>
    {% endif %}
  </summary>

  {{ definition|markdown }}
</details>

